.DS_Store
node_modules
dist/
dist-lang/
app/static/css/style.css
database.db
database.db-journal
configs/server-config.json
coverage

lerna-debug.log
.lerna/

packages/create/public
packages/create/dist

packages/client/public
packages/client/dist

packages/cash-provider/dist/

packages/cash-wallet/dist/
packages/cash-wallet/public/js